#header {
    height: 70px;
    background: #10284e;
    color: #fff;
}

#branding h1{
    color: #fff;
}

a:link,
a:visited {
    color: #10284e;
}

div.breadcrumbs {
    background: #30caa0;
    color: #10284e;
}

.module h2, .module caption, .inline-group h2 {
    background: #30caa0;
}

div.breadcrumbs a {
    color: #333;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    color: #fff;
    background: #10284e;
}